<div class="well bs-component">
    <div class="form-horizontal">
        <fieldset>
        <div class="form-group">
            <label class="col-lg-2 control-label" for="focusedInput">Nombre:</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" required ng-model="customer.firstname" placeholder="Nombre">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label" for="focusedInput">Apellido:</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" required ng-model="customer.lastname" placeholder="Apellido">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label" for="focusedInput">Dirección:</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" required ng-model="customer.address" placeholder="Calle XX nro NN dpto AA e/YY y ZZ">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label" for="focusedInput">Teléfono:</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" required ng-model="customer.telephone" placeholder="Teléfono">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label" for="focusedInput">Email:</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" required ng-model="customer.mail" placeholder="Email de contacto">
            </div>
        </div>

      </fieldset>

    </div> 
</div>