    
<!-- Listado de deliveries -->
<div class="container-fluid" style="display: flex;flex-direction: row; flex-wrap: wrap;">

	<div ng-repeat="notebook in notebooks" class="col-lg-4">

		<div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ notebook.name}}</h3>
            </div>
            <div class="panel-body">
                {{ notebook.screen }}
				<p><a ui-sref="delivery.order({deliveryId: delivery.id})" >{{ notebook.price | currency }}</a></p>
            </div>
        </div>
        
	</div>
</div>

