<div class="col-lg-3">
	<div class="bs-component">
		<div class="panel panel-default">
	      <div class="panel-heading">
	        <h4 class="panel-title">
	          <a data-toggle="collapse" href="#collapseMarca">Marca</a>
	          <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" href="#collapse1" aria-hidden="true"></span>
	        </h4>
	      </div>
	      <div id="collapseMarca" class="panel-collapse collapse">
	        <ul class="list-group">
	          <li class="list-group-item">
				<div class="checkbox"><label><input type="checkbox" value="">Sony</label></div>
	          </li>
	          <li class="list-group-item">
				<div class="checkbox"><label><input type="checkbox" value="">Bangho</label></div>
	          </li>
	          <li class="list-group-item">
				<div class="checkbox"><label><input type="checkbox" value="">Lenovo</label></div>
	          </li>
	        </ul>
	      </div>
	    </div>
	</div>

	<div class="bs-component">
		<div class="panel panel-default">
	      <div class="panel-heading">
	        <h4 class="panel-title">
	          <a data-toggle="collapse" href="#collapsePrecio">Precio</a>
	          <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" href="#collapse1" aria-hidden="true"></span>
	        </h4>
	      </div>
	      <div id="collapsePrecio" class="panel-collapse collapse">
	       <b>€ 10</b> <input id="ex2" type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/> <b>€ 1000</b>
	      </div>
	    </div>
	</div>	
</div>

    
<!-- Listado de deliveries -->
<div class="container-fluid" style="display: flex;flex-direction: row; flex-wrap: wrap;">

	<div ng-repeat="notebook in notebooks" class="col-lg-4">

		<div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ notebook.name}}</h3>
            </div>
            <div class="panel-body">
                {{ notebook.screen }}
				<p><a ui-sref="delivery.order({deliveryId: delivery.id})" >{{ notebook.price | currency }}</a></p>
            </div>
        </div>
        
	</div>
</div>

