<div ng-controller="MenuController">
	<form  id="accordion" class="panel-group menu">

		<!-- PRECIO -->
			<div class="panel panel-default">
		      <div class="panel-heading">
		        <h4 class="panel-title">
		          <a data-toggle="collapse" href="#collapsePrecio" data-parent="#accordion">Precio</a>
		         
		        </h4>
		      </div>
		      <div id="collapsePrecio" class="panel-collapse collapse in">
		      	<div class="col-lg-6">
			       <b>Min</b><input id="minPrice" type="number" ng-blur="search()" ng-model="searchParam.minPrice" class="span2" value="0"/> 
			   	</div>
			   	<div class="col-lg-6">
		       		<b>Max</b><input id="maxPrice" type="number" ng-blur="search()" ng-model="searchParam.maxPrice" class="span2" value="49999"/> 
		       	</div>
		      </div>
		    </div>

		<!-- MARCA -->
			<div class="panel panel-default">
		      <div class="panel-heading">
		        <h4 class="panel-title">
		          <a data-toggle="collapse" href="#collapseMarca" data-parent="#accordion">Marca</a>
		        </h4>
		      </div>
		      <div id="collapseMarca" class="panel-collapse collapse">
		        <ul class="list-group">
		          <li class="list-group-item" ng-repeat="trademark in trademarks | orderBy: 'toString()' track by $index">
					<div class="checkbox">
						<label ng-show="propertiesCounter['trademark'][trademark]">
							<input type="checkbox" ng-change="search('trademark')" ng-model="searchParam.trademark[$index]" ng-true-value="'{{trademark}}'" ng-false-value="'false-trademark-{{trademark}}'" name="trademark" value="{{trademark}}">{{trademark}} ({{propertiesCounter['trademark'][trademark]}})
						</label>
						<label ng-hide="propertiesCounter['trademark'][trademark]" class="tachado">
							<input disabled type="checkbox" ng-change="search()" ng-model="searchParam.trademark[$index]" ng-true-value="'{{trademark}}'" ng-false-value="'false-trademark-{{trademark}}'" name="trademark" value="{{trademark}}">{{trademark}} (0)
						</label>
					</div>
		          </li>
		        </ul>
		      </div>
		    </div>


		<!-- PANTALLA -->
			<div class="panel panel-default">
		      <div class="panel-heading">
		        <h4 class="panel-title">
		          <a data-toggle="collapse" href="#collapsePantalla" data-parent="#accordion">Tamaño de pantalla</a>
		        </h4>
		      </div>
		      <div id="collapsePantalla" class="panel-collapse collapse">
		        <ul class="list-group">
		          <li class="list-group-item" ng-repeat="screen in screens | orderBy: 'toString()' track by $index">
					<div class="checkbox">
						<label ng-show="propertiesCounter['screen'][screen]"><input type="checkbox" ng-change="search('screen')" ng-model="searchParam.screen[$index]" ng-true-value="'{{screen}}'" ng-false-value="'false-screen-{{screen}}'" name="screen" value="{{screen}}">{{screen}}" ({{propertiesCounter['screen'][screen]}})</label>
						<label ng-hide="propertiesCounter['screen'][screen]"  class="tachado"><input disabled type="checkbox" ng-model="searchParam.screen[$index]" ng-true-value="'{{screen}}'" ng-false-value="'false-screen-{{screen}}'" name="screen" value="{{screen}}">{{screen}}" (0)</label>
					</div>
		          </li>
		        </ul>
		      </div>
		    </div>


		<!-- MEMORIA -->

			<div class="panel panel-default">
		      <div class="panel-heading">
		        <h4 class="panel-title">
		          <a data-toggle="collapse" href="#collapseMemoria" data-parent="#accordion">Memoria</a>
		        </h4>
		      </div>
		      <div id="collapseMemoria" class="panel-collapse collapse">
		        <ul class="list-group">
		          <li class="list-group-item" ng-repeat="ram in rams | orderBy: 'toString()' track by $index">
					<div class="checkbox">
						<label ng-show="propertiesCounter['ram'][ram]"><input type="checkbox" ng-change="search('ram')" ng-model="searchParam.ram[$index]" ng-true-value="'{{ram}}'" ng-false-value="'false-ram-{{ram}}'" name="ramm" value="{{ram}}">{{ram}}Gb ({{propertiesCounter['ram'][ram]}})</label>
						<label ng-hide="propertiesCounter['ram'][ram]" class="tachado"><input type="checkbox" disabled ng-model="searchParam.ram[$index]" ng-true-value="'{{ram}}'" ng-false-value="'false-ram-{{ram}}'" name="ramm" value="{{ram}}">{{ram}}Gb (0)</label>
					</div>
		          </li>
		        </ul>
		      </div>
		    </div>


		<!-- DISCO RIGIDO -->

			<div class="panel panel-default">
		      <div class="panel-heading">
		        <h4 class="panel-title">
		          <a data-toggle="collapse" href="#collapseDisco" data-parent="#accordion">Disco rígido</a>
		        </h4>
		      </div>
		      <div id="collapseDisco" class="panel-collapse collapse">
		        <ul class="list-group">
		          <li class="list-group-item" ng-repeat="disk in hardDisks | orderBy: 'disk':true track by $index">
					<div class="checkbox">
						<label ng-show="propertiesCounter['hardDisk'][disk]"><input type="checkbox" ng-change="search('hardDisk')" ng-model="searchParam.hardDisk[$index]" ng-true-value="'{{disk}}'" ng-false-value="'false-disk-{{disk}}'" name="hardDisk" value="{{disk}}">{{disk}}GB ({{propertiesCounter['hardDisk'][disk]}})</label>
						<label ng-hide="propertiesCounter['hardDisk'][disk]" class="tachado"><input type="checkbox" disabled ng-model="searchParam.hardDisk[$index]" ng-true-value="'{{disk}}'" ng-false-value="'false-disk-{{disk}}'" name="hardDisk" value="{{disk}}">{{disk}}GB (0)</label>
					</div>
		          </li>
		        </ul>
		      </div>
		    </div>

		<!-- PROCESADOR -->
			<div class="panel panel-default">
		      <div class="panel-heading">
		        <h4 class="panel-title">
		          <a data-toggle="collapse" href="#collapseProcesador" data-parent="#accordion">Procesador</a>
		        </h4>
		      </div>
		      <div id="collapseProcesador" class="panel-collapse collapse">
		        <ul class="list-group">
		          <li class="list-group-item" ng-repeat="micro in microFamilies | orderBy: 'toString()' track by $index">
					<div class="checkbox">
						<label ng-show="propertiesCounter['microFamily'][micro]"><input type="checkbox" ng-change="search('microFamily')" ng-model="searchParam.microFamily[$index]" ng-true-value="'{{micro}}'" ng-false-value="'false-micro-{{micro}}'" name="microFamily" value="{{micro}}">{{micro}} ({{propertiesCounter['microFamily'][micro]}})</label>
						<label ng-hide="propertiesCounter['microFamily'][micro]" class="tachado"><input type="checkbox" disabled ng-model="searchParam.microFamily[$index]" ng-true-value="'{{micro}}'" ng-false-value="'false-micro-{{micro}}'" name="microFamily" value="{{micro}}">{{micro}} (0)</label>
					</div>
		          </li>
		        </ul>
		      </div>
		    </div>
		

		<!-- ESTADO -->
		
			<div class="panel panel-default">
		      <div class="panel-heading">
		        <h4 class="panel-title">
		          <a data-toggle="collapse" href="#collapseEstado" data-parent="#accordion">Estado</a>
		        </h4>
		      </div>
		      <div id="collapseEstado" class="panel-collapse collapse">
		        <ul class="list-group">
					<li class="list-group-item" ng-repeat="state in states | orderBy: 'toString()' track by $index">
						<div class="checkbox">
							<label ng-show="propertiesCounter['state'][state]"><input type="checkbox" ng-change="search('state')" ng-model="searchParam.state[$index]" ng-true-value="'{{state}}'" ng-false-value="'false-state-{{state}}'" name="state" value="{{state}}">{{state}} ({{propertiesCounter['state'][state]}})</label>
							<label ng-hide="propertiesCounter['state'][state]" class="tachado"><input type="checkbox" disabled ng-model="searchParam.state[$index]" ng-true-value="'{{state}}'" ng-false-value="'false-state-{{state}}'" name="state" value="{{state}}">{{state}} (0)</label>
						</div>
			        </li>
		        </ul>
		      </div>
		    </div>
		
	</form>

	<div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapseFilters">Filtrado por:</a>
         <a style="margin-left:9%" ng-click="reset()">(Limpiar Todo)</a>
        </h4>
      </div>
      <div id="collapseFilters" class="panel-collapse collapse in tokenfield">
		<div class="" ng-show="appliedFilters.length == 0">
			No existen filtros aplicados.
		</div>
      	<div class="token" ng-repeat="filter in appliedFilters" ng-show="appliedFilters.length > 0">
      		<span class="token-label" style="max-width: 770px;">{{filter.value}}&nbsp;</span>
      	</div>
      </div>
	</div>

</div>