<!-- Modal -->

       <div class="modal-header">
            <h3 class="modal-title" id="modal-title">{{notebook.name}}</h3>
        </div>
        <div class="modal-body" style="display: inline-block">
          <img class="col-lg-4" src="/css/images/{{notebook.code}}.jpg" alt="Card image cap"/>
          <div class="col-lg-8">
            <ul class="card-text">
              <li>Procesador: {{notebook.microDescription}}</li>
              <li>Marca: {{notebook.trademark}}</li>
              <li>Sistema: {{notebook.operating_system}}</li>
              <li>Batería: {{notebook.batery}}</li>
              <li>Memoria: {{notebook.ram}} Gb</li>
              <li>Estado: {{notebook.state}}</li>
            </ul>
            <input type="checkbox" ng-model="selectedItem" ng-change="addToCompare(notebook);">Comparar
          </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Comprar</button>
            <button class="btn btn-default" type="button" ng-click="cancel()">Cerrar</button>
        </div>